{# templates/partials/sidebar.html #}
<aside class="sidebar">
    <!-- Tombol Burger (toggle sidebar) -->
    <button type="button" class="btn burger-btn" id="sidebarToggle" aria-expanded="true" aria-label="Tutup sidebar">
        <span class="burger-icon"></span>
    </button>

    <!-- Isi Sidebar -->
    <div class="sidebar-content">
        <div class="accordion mt-0" id="accordionExample">

            <!-- PENGENALAN -->
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="false">
                        PENGENALAN
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="d-flex flex-column">
                            <a href="{% url 'pengenalan' %}"
                                class="btn text-start mb-2 btn-outline-warning w-100">Pengenalan</a>
                            <a href="{% url 'aktivitas1' %}"
                                class="btn text-start mb-2 btn-outline-warning w-100">Aktivitas</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ENKRIPSI -->
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo">
                        ENKRIPSI
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="d-flex flex-column">
                            <a href="{% url 'enkripsi' %}"
                                class="btn text-start mb-2 btn-outline-warning w-100">Enkripsi</a>
                            <a href="{% url 'aktivitas2' %}"
                                class="btn text-start mb-2 btn-outline-warning w-100">Aktivitas</a>
                            <a href="{% url 'kuis_petunjuk' %}?jenis=enkripsi"
                                class="btn text-start mb-2 btn-outline-warning w-100">Kuis Enkripsi</a>
                            <a href="{% url 'kuis_pengerjaan' %}?jenis=enkripsi"
                                class="btn text-start mb-2 btn-outline-warning w-100 d-none"
                                data-quiz-trigger="enkripsi">
                                (hidden) pengerjaan enkripsi
                            </a>

                        </div>
                    </div>
                </div>
            </div>

            <!-- CAESAR CIPHER -->
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseThree">
                        CAESAR CIPHER
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="d-flex flex-column">
                            <a href="{% url 'caesar' %}" class="btn text-start mb-2 btn-outline-warning w-100">Caesar
                                Cipher 1</a>
                            <a href="{% url 'caesar2' %}" class="btn text-start mb-2 btn-outline-warning w-100">Caesar
                                Cipher 2</a>
                            <a href="{% url 'aktivitas3' %}"
                                class="btn text-start mb-2 btn-outline-warning w-100">Aktivitas</a>
                            <a href="{% url 'kuis_petunjuk' %}?jenis=caesar"
                                class="btn text-start mb-2 btn-outline-warning w-100">Kuis Caesar Cipher</a>
                            <a href="{% url 'kuis_pengerjaan' %}?jenis=caesar"
                                class="btn text-start mb-2 btn-outline-warning w-100 d-none" data-quiz-trigger="caesar">
                                (hidden) pengerjaan caesar
                            </a>

                        </div>
                    </div>
                </div>
            </div>

            <!-- DEKRIPSI -->
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseFour">
                        DEKRIPSI
                    </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="d-flex flex-column">
                            <a href="{% url 'dekripsi' %}"
                                class="btn text-start mb-2 btn-outline-warning w-100">Dekripsi 1</a>
                            <a href="{% url 'dekripsi2' %}"
                                class="btn text-start mb-2 btn-outline-warning w-100">Dekripsi 2</a>
                            <a href="{% url 'aktivitas4' %}"
                                class="btn text-start mb-2 btn-outline-warning w-100">Aktivitas</a>
                            <a href="{% url 'kuis_petunjuk' %}?jenis=dekripsi"
                                class="btn text-start mb-2 btn-outline-warning w-100">Kuis Dekripsi</a>
                            <a href="{% url 'kuis_pengerjaan' %}?jenis=dekripsi"
                                class="btn text-start mb-2 btn-outline-warning w-100 d-none"
                                data-quiz-trigger="dekripsi">
                                (hidden) pengerjaan dekripsi
                            </a>

                        </div>
                    </div>
                </div>
            </div>

            <!-- EVALUASI -->
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingSix">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseSix">
                        EVALUASI
                    </button>
                </h2>
                <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="d-flex flex-column">
                            <a href="{% url 'evaluasi_petunjuk' %}"
                                class="btn text-start mb-2 btn-outline-warning w-100">Evaluasi</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</aside>
