{% extends "base_lesson.html" %}
{% load static %}

{% block title %}aktivitas 1 - CodeCracker{% endblock %}

{% block content %}

<!-- Konten Utama -->
<div class="p-5">
    <main class="lesson-main">
        <div class="lesson-titlebar">Aktivitas</div>
        <hr />

        <div class="lesson-wrap">
            <div class="lesson-head">
                <h2 class="lesson-h2">Enkripsi Pesan</h2>
                <p class="teks">Seorang teman ingin merahasiakan pesan <b><i>“SEKOLAH”</i></b>. Ia menggunakan
                    Caesar Cipher
                    dengan aturan kunci <b><i>2</i></b>.
                </p>
                <p class="teks">Menurutmu, ciphertext (pesan terenkripsi) yang benar adalah…</p>
                <div class="teks multi-choice">
                    <input type="radio"> UGMQNCJ <br>
                    <input type="radio"> UFMQMBJ <br>
                    <input type="radio"> TGMQNBJ <br>
                    <input type="radio"> UFMQNCJ
                </div>
                <button type="submit" class="btn btn-success px-4 py-2">
                    <b>Cek Jawaban</b>
                </button>
            </div>
        </div>
    </main>

    <!-- Navigasi bawah -->
    <div class="d-flex justify-content-end gap-3 mt-4">
        <a href="{% url 'enkripsi' %}" class="btn btn-danger px-4 py-2 disabled">
            <i class="fa-solid fa-arrow-left me-2"></i>
            Kembali
        </a>
        <a href="{% url 'aktivitas1' %}" class="btn btn-success px-4 py-2">
            Selanjutnya
            <i class="fa-solid fa-arrow-right ms-2"></i>
        </a>
    </div>
</div>
{% endblock %}